{% extends "base2.html" %}
{% block sellreg %}

<body>
    <center style="height:318px">
        <h2 class="login-header">Sign up</h2>
        <form action="/" method="post">
            <div>
                <p><label for="fname">First Name:</label>
                    <input type="text" id="fname" name="fname" required>
                </p>
            </div>
            <div>
                <p><label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" required>
                </p>
            </div>
            <div>
                <p><label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </p>
            </div>
            <div>
                <p><label for="mnumber">Mobile Number:</label>
                    <input type="text" id="mnumber" name="number" required>
                </p>
            </div>
            <div>
                <p><label for="password">Password:</label>
                    <input type="password" id="password" name="password" minlength="8" required>
                </p>
            </div>
            <div>
                <p><label for="birthday">Date of birth:</label>
                    <input type="date" id="birthday" name="birthday" max="2021-02-07" required>
                </p>
            </div>
            <div>
                <p><label for="gender">Gender:</label>
                    <input type="radio" name="gender" id="male">
                    <label for="male">Male</label>

                    <input type="radio" name="gender" id="female" checked>
                    <label for="female">Female</label>

                    <input type="radio" name="gender" id="other">
                    <label for="other">Other</label>
                </p>
            </div>

            <p><input type="submit" value="Submit"></p>
        </form>
    </center>
</body>
{% endblock sellreg %}